* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #fafafa;
  font-family: "Instrument Sans", sans-serif;
}

/* .root {
  width: 100%;
} */
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 16px 16px 16px 24px;
  border-radius: 12px;
  background: var(--white, #fff);
  color: #633cff;
}
.logo-desk {
  display: none;
}
.tab {
  display: none;
}
.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
}
/* ///////////// effect ////////*/
.icon-links {
  border-radius: 8px;
  background: var(--light-purple, #efebff);
  display: flex;
  padding: 11px 27px;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border: none;
  /* effect*/
  transition: all 0.2s;
}
.icon-links::before {
  /* effect*/
  content: "";
  transition: all0.4s;
  z-index: 1;
}
.icon-links:hover::before {
  /* effect*/
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.icon-links:hover {
  /* effect*/
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgb(0, 0, 0, 0.2);
}
.icon-links:active {
  transform: translateY(-1px);
  box-shadow: 0 10px 20px rgb(0, 0, 0, 0.2);
}
/* ///////////// effect ////////*/
.icon-profile {
  display: flex;
  padding: 11px 27px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  background-color: #fff;
  /* effect*/
  transition: all 0.2s;
}
.icon-profile::before {
  /* effect*/
  content: "";
  transition: all0.4s;
  z-index: 1;
}
.icon-profile:hover::before {
  /* effect*/
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.icon-profile:hover {
  /* effect*/
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgb(0, 0, 0, 0.2);
}
.icon-profile:active {
  transform: translateY(-1px);
  box-shadow: 0 10px 20px rgb(0, 0, 0, 0.2);
}
/* /////////////////////*/
.eye-color {
  filter: invert(27%) sepia(72%) saturate(6225%) hue-rotate(248deg);
}
.eye {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.eye:hover {
  filter: invert(27%) sepia(72%) saturate(6225%) hue-rotate(248deg)
    brightness(101%) contrast(101%);
}

.icon-preview {
  display: flex;
  padding: 11px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid var(--purple, #633cff);
}
/* ///////////// main section////////*/
section {
  padding: 16px;
}
.img-phone-mockup {
  display: none;
}
.box {
  background-color: #fff;
  border-radius: 12px;
  width: 343px;
}
main {
  display: flex;
  flex-direction: column;
  padding: 24px;

  border-radius: 12px;
  gap: 40px;
}
h3 {
  color: var(--dark-grey, #333);
  font-family: Instrument Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
p {
  color: var(--grey, #737373);
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.btn {
  display: flex;
  padding: 11px 27px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  width: 100%;
  height: 46px;
  border-radius: 8px;
  border: 1px solid var(--purple, #633cff);
  color: var(--purple, #633cff);
  background-color: #fff;
  cursor: pointer;
  /* p */
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.btn:hover {
  background: var(--light-purple, #efebff);
}
/*///////////////   Empty   /////////////////*/

.empty {
  padding: 0 24px 24px 24px;
}
.empty-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 24px;
  background-color: #fafafa;
  border-radius: 12px;
}
.img-illustration {
  width: 124.766px;
  height: 80px;
  margin-top: 25px;
}
.info {
  text-align: center;
  margin-bottom: 20px;
}

/*/ ////////// form //////////*/
form {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;

  gap: 12px;
  align-self: stretch;
  border-radius: 12px;
  background: var(--light-grey, #fafafa);
}
.empty {
  display: none;
}
.form {
  padding: 0 24px 24px 24px;
  display: block;
}
.remove {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}
select {
  display: flex;
  padding: 12px 48px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--borders, #d9d9d9);
  background: var(--white, #fff);
  height: 48px;
  color: var(--dark-grey, #333);
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 8px;
  border: 1px solid #ccc;
  background-color: white;
  background-image: url("../../assets/images/dropdown-arrow.png");
  background-repeat: no-repeat;
  background-position: right 16px center;
}

label {
  color: var(--dark-grey, #333);
  font-family: Instrument Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}
.input-text {
  position: relative;
}
.links-header {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 35px;
}
input {
  display: flex;
  padding: 12px 8px 12px 40px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  width: 100%;
  height: 48px;
  border-radius: 8px;
  border: 1px solid var(--borders, #d9d9d9);
  background: var(--white, #fff);
}
input:focus {
  border: 1px solid var(--purple, #633cff);
  background: var(--white, #fff);
  box-shadow: 0px 0px 32px 0px rgba(99, 60, 255, 0.25);
}

/*//////////button Save/////////*/
hr {
  border: none;
  height: 1px;
  background: var(--borders, #d9d9d9);
}
.btn-btn {
  padding: 16px 16px 16px 16px;
}
.btnSave {
  display: block;
  padding: 11px 27px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 46px;
  gap: 8px;
  color: #fff;
  border: none;
  border-radius: 8px;
  background: var(--purple, #633cff);
  cursor: pointer;
  /*   p    */
  color: var(--white, #fff);
  font-family: Instrument Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  /* effect*/
  transition: all 0.2s;
}
.btnSave::before {
  /* effect*/
  content: "";
  transition: all0.4s;
  z-index: 1;
}
.btnSave:hover::before {
  /* effect*/
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btnSave:hover {
  box-shadow: inset 0px 0px 32px 0px rgba(99, 60, 255, 0.25);
  /* effect*/
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgb(0, 0, 0, 0.2);
}
.btnSave:active {
  transform: translateY(-1px);
  box-shadow: 0 10px 20px rgb(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
  .box {
    width: 721px;
  }
  .root {
    padding: 24px;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* align-items: center; */
    /* justify-content: space-between; */
    gap: 24px;
  }

  .logo-mob {
    display: none;
  }
  .logo-desk {
    display: block;
  }
  .tab {
    display: block;
  }
  .icon-preview {
    display: none; /*  unda vkitxo amaze buttonia tu ra aris*/
  }
  .tab-btn {
    display: block;
    padding: 11px 27px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid var(--purple, #633cff);
    /* p */
    color: var(--purple, #633cff);
    font-family: Instrument Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 24px */
    cursor: pointer;
    /* effect*/
    transition: all 0.2s;
  }

  .tab-btn::before {
    /* effect*/
    content: "";
    transition: all0.4s;
    z-index: 1;
  }
  .tab-btn:hover::before {
    /* effect*/
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }
  .tab-btn:hover {
    background: var(--light-purple, #efebff);
    /* effect*/
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.2);
  }
  .tab-btn:active {
    transform: translateY(-1px);
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.2);
  }
  /* ///////////// main section////////*/
  section {
    margin: auto;
    padding: 0;
  }
  main {
    padding: 40px;
  }
  h3 {
    font-size: 32px;
  }

  .img-illustration {
    width: 249.533px;
    height: 160px;
    margin: 0;
  }
  .empty-box {
    padding: 92px;
  }
  .empty {
    padding: 0 40px 40px 40px;
  }
  .info {
    margin: 0;
  }
  .btn-btn {
    padding: 24px 40px 24px 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .btnSave {
    width: 91px;
    height: 46px;
    right: 0;
  }

  /*/ ////////// form  768px//////////*/
  .form {
    padding: 0 40px 40px 40px;
  }
}
@media (min-width: 1440px) {
  .img-phone-mockup {
    display: block;
    height: 100%;
  }
  section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 24px;
  }
  h3 {
    padding-bottom: 10px;
  }

  .phone-mockup {
    position: relative;
    padding: 140px;
    border-radius: 12px;
    background-color: #fff;
  }

  .box {
    width: 775px;
  }
  .btnSave:hover {
    box-shadow: 0px 0px 32px 0px rgba(99, 60, 255, 0.25);
  }
  .btn-btn {
    padding: 33px 40px 33px 40px;
  }
}
